<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lucas Amaral Teste Touch</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" href="build/css/min/touch.min.css">
</head>

<body>

    <div class="container">

        <header>

            <div class="container__nav">
                <nav>

                    <div class="menu-mobile">
                        <img src="src/assets/Hamburger_icon.png" alt="Menu icon">
                    </div>

                    <ul class="container__nav-menu">
                        <li class="search">
                            <a href="#">Buscar</a>
                        </li>
                        <li>
                            <a href="#">Minha conta</a>
                        </li>
                        <li>
                            <a href="#">Entrar</a>
                        </li>
                        <li class="cart">
                            <a href="#">sacola (
                                <span class="cart-count">0</span>)</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="container__logo">
                <img src="src/assets/logo-l.png" alt="Loja da Vanessa logo">
            </div>

        </header>

        <div class="product__container">
            <div class="product__breadcrumb">
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Roupas</a>
                    </li>
                    <li>
                        <a href="#">Vestidos</a>
                    </li>
                    <li>
                        <a href="#" class="current-product">Vestido Must-Have Sweatshirt</a>
                    </li>
                </ul>
            </div>

            <div class="product__pdp row">
                <div class="product__pictures col-md-6">
                    <div class="product__image">
                        <img src="src/assets/image-pdp-desktop1.jpg" alt="Product image">
                    </div>
                    <div class="product__thumbnails">
                        <div class="product__thumb current-picture">
                            <img src="src/assets/thumbs1.jpg" alt="Thumbnail 1">
                        </div>
                        <div class="product__thumb">
                            <img src="src/assets/thumbs2.jpg" alt="Thumbnail 2">
                        </div>
                        <div class="product__thumb">
                            <img src="src/assets/thumbs3.jpg" alt="Thumbnail 3">
                        </div>
                    </div>
                </div>

                <div class="product__information col-md-6">
                    <p class="product__ref">Ref.: MO8992</p>
                    <div class="product__social-media">
                        <a href="#">
                            <img src="src/assets/facebook-share.svg" alt="Facebook icon">
                        </a>
                        <a href="#">
                            <img src="src/assets/twitter-tweet.svg" alt="Twitter icon">
                        </a>
                        <a href="#">
                            <img src="src/assets/pinterest-pin.svg" alt="Pinterest icon">
                        </a>
                    </div>
                    <h2 class="product__title">Vestido Must Have Sweatshirt</h2>

                    <div class="product__price-area">
                        <p class="product__price-old">R$ 22,80</p>
                        <p class="product__price">R$ 15,00</p>
                        <p class="product__price-installment-payment">3x de R$ 5,00 s/juros</p>
                    </div>

                    <div class="product__size">
                        <p>tamanho</p>
                        <select id="productSize">
                            <option value="none">Escolha</option>
                        </select>
                    </div>

                    <div class="product__shopping-area">

                        <a href="javascript:;" class="product__shopping-button">adicionar à sacola</a>
                        <a href="javascript:;" class="product__shopping-whishlist">Lista de Desejos</a>

                    </div>

                    <div class="product__description">
                        <p>A French terry sweatshirt dress featuring long raglan sleeves. Round neckline. Banded trim. Knit.
                            Lightweight.</p>

                        <ul>
                            <li>34” approx. length from high point shoulder to hem, 38” chest, 36” waist, 30” sleeve length from
                                high point shoulder</li>
                            <li>Measured from Small</li>
                            <li>61% cotton, 39% viscose</li>
                            <li>Hand wash cold, dry flat</li>
                            <li>Imported</li>
                        </ul>
                    </div>

                    <div class="product__shipping-area">
                        <p>Frete e prazo</p>
                        <input type="text" placeholder="22271-100">
                        <a href="javascript:;" class="product__shipping-calculate">Calcular</a>

                        <div class="product__shipping-prices">
                            <p>PAC: R$ 18,30 - 7 dias úteis</p>
                            <p>SEDEX: R$ 26,00 - 4 dias úteis</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="other-products__container">
            <p class="other-products__title">Aproveite Também</p>

            <div class="other-products__item-container row" id="otherProducts">

                <div class="other-products__items col-md-3" v-for="product in products">
                    <div class="other-products__items-image" v-bind:class="{discount: product.discount}">
                        <img v-bind:src="'src/assets/' + product.img" alt="Other products image">

                        <p class="other-products__items-title">{{product.title}}</p>
                        <div class="other-products__items-price-area">
                            <p v-if="product.oldPrice != ''" class="other-products__items-old-price">{{product.oldPrice}}</p>
                            <p class="other-products__items-price">{{product.price}}</p>
                        </div>
                        <p class="other-products__items-installment-payment">{{product.installmentPayment}}</p>
                    </div>
                </div>

            </div>
        </div>

        <footer>

            <div class="footer__container row">

                <div class="footer__container-links col-md-3">
                    <p class="footer__container-title">INSTITUCIONAL</p>
                    <ul>
                        <li><a href="javascript:;">Quem somos</a></li>
                        <li><a href="javascript:;">Contato</a></li>
                    </ul>
                </div>

                <div class="footer__container-links col-md-3">
                        <p class="footer__container-title">AJUDA & SUPORTE</p>
                        <ul>
                            <li><a href="javascript:;">Como Comprar</a></li>
                            <li><a href="javascript:;">Termos e Condições</a></li>
                            <li><a href="javascript:;">Procon RJ</a></li>
                        </ul>
                </div>

                <div class="footer__container-links col-md-3"> 
                        <p class="footer__container-title">NEWSLETTER</p>
                        <input type="text" placeholder="Seu email">
                        <a href="javascript:;" class="subscribe">assinar</a>
                </div>

                <div class="footer__container-links col-md-3">
                        <p class="footer__container-title">Redes sociais</p>
                        <ul>
                            <li><a href="javascript:;">Facebook</a></li>
                            <li><a href="javascript:;">Instagram</a></li>
                            <li><a href="javascript:;">Twitter</a></li>
                        </ul>
                </div>



            </div>

            <div class="footer__bottom-container row">

                <div class="footer__bottom-left-content col-md-6">
                    <div class="footer__bottom-left-content--image">
                            <img src="src/assets/logo-s.png" alt="">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pharetra maximus nunc, in ornare magna imperdiet cursus. Sed eget vulputate ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                </div>
                <div class="footer__bottom-right-content col-md-6">
                    <div class="footer__bottom-right-content--payment">
                        <img src="src/assets/f-visa.png" alt="Visa">
                        <img src="src/assets/f-mastercard.png" alt="Mastercard">
                        <img src="src/assets/f-elo.png" alt="Elo">
                        <img src="src/assets/f-diners.png" alt="Diners club">
                        <img src="src/assets/f-amex.png" alt="American Express">
                        <img src="src/assets/f-boleto.png" alt="Boleto bancário">
                    </div>
                    <div class="footer__bottom-right-content--safe-site">
                        <img src="src/assets/site-seguro.png" alt="Site seguro. Validado pela Certisign">
                    </div>
                </div>

            </div>

        </footer>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="src/lib/jquery.zoom.min.js"></script>
    <script src="build/js/min/touch.min.js"></script>
</body>

</html>