.container {
    &__nav {
        border-top: 9px solid #222222;
        text-align: center;
        padding-top: 19px;
        font-family: 'Lato', sans-serif;

        .menu-mobile {

            img {
                width: 30px;
                height: auto;
            }

            @media screen and (min-width: 768px){
                display: none;
            }
        }

        &-menu {

            @media screen and (max-width: 767px){
                margin-top: 20px;
                display: none;
            }

            padding: 0;
            margin: 0;
            list-style: none;
            text-transform: uppercase;
            font-size: 11px;
            letter-spacing: 1px;

            li {

                @media screen and (max-width: 767px){
                    display: block;
                    margin: 0;
                    margin-bottom: 20px;
                }

                display: inline-block;
                margin-left: 48px;
                position: relative;

                @media screen and (min-width: 768px){
                    &:first-child {
                        margin: 0;
                    }
                }

                a {
                    color: #222222;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                &.search {

                    &::before {
                        content: "";
                        width: 12px;
                        height: 12px;
                        background-image: url(/src/assets/magnifier.svg);
                        position: relative;
                        left: -8.1px;
                        top: 2px;
                        display: inline-block;
                    }
                }

                &.cart {

                    &::before {
                        content: "";
                        width: 10px;
                        height: 12px;
                        background-image: url(/src/assets/shopping-bag.svg);
                        position: relative;
                        right: 8.1px;
                        top: 1px;
                        display: inline-block;
                    }
                }
            }
        }
    }

    &__logo {

        @media screen and (max-width: 767px){
            margin: 50px 0;
        }

        margin: 79px 0;
        text-align: center;

        @media screen and (max-width: 511px){
            padding: 0 15px;
        }

        img {
            max-width: 432px;
            width: 100%;
            height: auto;
        }
    }
}