.product {
    &__container {
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
    }

    &__breadcrumb {
        font-family: 'Lato', sans-serif;
        font-size: 11px;

        ul {
            list-style: none;
            padding: 0;

            li {
                display: inline-block;
                margin-left: 20px;
                position: relative;

                a {
                    letter-spacing: 0.4px;
                    color: #222222;
                    text-decoration: none; 

                    &::before {
                        content: "";
                        width: 4px;
                        height: 6.4px;
                        background-image: url(/src/assets/breadcrumbs-arrow.svg);
                        display: inline-block;
                        position: absolute;
                        top: 4px;
                        left: -13px;
                    }

                    &.active {
                        color: #9a9a9a;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }

                &:first-child {
                    margin: 0;

                    a {
                        &::before {
                            content: " ";
                            background-image: none;
                        }
                    }
                }
            }
        }
    }
}