.product {
    &__container {
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
    }

    &__breadcrumb {
        font-family: 'Lato', sans-serif;
        font-size: 11px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: inline-block;
                margin-left: 20px;
                position: relative;

                a {
                    letter-spacing: 0.4px;
                    color: #222222;
                    text-decoration: none; 

                    &::before {
                        content: "";
                        width: 4px;
                        height: 6.4px;
                        background-image: url(/src/assets/breadcrumbs-arrow.svg);
                        display: inline-block;
                        position: absolute;
                        top: 5px;
                        left: -13px;
                    }

                    &.current-product {
                        color: #9a9a9a;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }

                &:first-child {
                    margin: 0;

                    a {
                        &::before {
                            content: "";
                            background-image: none;
                        }
                    }
                }
            }
        }
    }

    &__pdp {
        margin-top: 24px;
    }

    &__thumbnails {
        margin-top: 8px;
    }

    &__thumb {
        display: inline-block;
        float: left;
        margin-right: 16px;
        padding-bottom: 4px;
        cursor: pointer;

        &.current-picture {
            border-bottom: 2px solid #666666;
        }
    }

    &__information {
        font-family: 'Lato', sans-serif;
    }

    &__ref {
        font-size: 11px;
        color: #9a9a9a;
        letter-spacing: 0.4px;
        margin: 0
    }

    &__social-media {

        margin: 24px 0;

        a {
            margin-right: 32px;
        }
    }

    &__title {
        font-family: 'Playfair Display', sans-serif;
        color: #222222;
        font-size: 45px;
        line-height: 1.07;
        letter-spacing: -0.3px;
        margin: 0;
    }

    &__price {

        font-size: 32px;
        font-weight: 300;
        color: #d39850;

        &-area{

            margin-top: 32px;
            margin-bottom: 24px;

            p {
                margin: 0;
                line-height: 1;

                &.product__price {
                    margin-top: 5px;
                    margin-bottom: 8px;
                }
            }

        }

        &-old {
            font-size: 16px;
            letter-spacing: 0.3px;
            color: #9a9a9a;
            text-decoration: line-through;
        }

        &-installment-payment {
            font-size: 13px;
            letter-spacing: 0.3px;
            color: #9a9a9a;
        }
    }

    &__size {
        
        margin-bottom: 32px;

        p {
            margin: 0;
            line-height: 1;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: bold;
            letter-spacing: 0.8px;
            color: #666666;
            margin-bottom:  8px;
        }

        select {
            font-size: 13px;
            letter-spacing: 1px;
            color: #222222;
            padding: 12px 16px;
            width: 172px;
            border: 2px solid #dedede;
        }
    }

    &__shopping {

        &-area {
            float: left;
            width: 100%;
            margin-bottom: 32px;
        }

        &-button {
            font-size: 14px;
            color: #ffffff;
            letter-spacing: 0.6px;
            padding: 20px 53px;
            background-color: #951a91;
            float: left;
            transition: 0.4s;
            text-transform: uppercase;

            &:hover {
                background-color: #730670;
                color: #ffffff;
                text-decoration: none;
            }

        }

        &-whishlist {
            font-size: 13px;
            letter-spacing: 0.6px;
            color: #222222;
            padding: 20px 40px;
            float: left;
            transition: 0.4s;

            &::before {
                content: "";
                background-image: url(/src/assets/wishlist.png);
                width: 16px;
                height: 15px;
                display: inline-block;
                position: relative;
                top: 3px;
                margin-right: 8px;
            }
            
            &:hover {
                text-decoration: none;
                color: #222222;
                
                &::before {
                    background-image: url(/src/assets/added-wishlist.png);
                }
            }

            &.on-whishlist {
                &::before {
                    background-image: url(/src/assets/added-wishlist.png);
                }
            }
        }
    }

    &__description {
        clear: both;
        color: #222222;
        line-height: 1.5;
        letter-spacing: 0.3px;
        font-weight: 300;
        font-size: 16px;
        margin-bottom: 40px;

        p {
            
            margin-bottom: 24px;
        }

        ul {
            padding: 0px;
            padding-left: 25px;
            margin: 0;
        }
    }

    &__shipping {
        
        &-area {

            p {
                font-weight: bold;
                font-size: 11px;
                letter-spacing: 0.8px;
                color: #666666;
                text-transform: uppercase;
                margin-bottom: 8px;
            }

            input[type="text"] {
                padding: 12px 16px;
                width: 172px;
                height: 40px;
                border: 2px solid #dedede;
            }
        }

        &-calculate {
            margin-left: 16px;
        }

        &-prices {
            color: #222222;
            line-height: 1.69;
            letter-spacing: 0.6px;
            font-size: 13px;
            margin-top: 8px;

            p {
                margin-bottom: 5px;
            }
        }
    }
}